
www/.DS_Store
.DS_Store
img/icon_128 copia.png
img/icon_128.png
img/icon_128.png
img/icon_16 copia.png
img/icon_128.png
img/icon_16.jpg
img/icon_16.png
img/icon_128.png
img/icon_16.png
img/icon_16.png
img/icon_16.png
img/icon_128.png
img/icon_16.png
img/icon_128.png
*.zip
